<div id="<%= dom_id relay_point %>">
  <p>
    <strong>Relay point:</strong>
    <%= relay_point.relay_point_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= relay_point.location %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= relay_point.capacity %>
  </p>

  <p>
    <strong>Available services:</strong>
    <%= relay_point.available_services %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= relay_point.contact_info %>
  </p>

</div>
