<p style="color: green"><%= notice %></p>

<%= render @relay_point %>

<div>
  <%= link_to "Edit this relay point", edit_relay_point_path(@relay_point) %> |
  <%= link_to "Back to relay points", relay_points_path %>

  <%= button_to "Destroy this relay point", @relay_point, method: :delete %>
</div>
