<div id="<%= dom_id dispatcher %>">
  <p>
    <strong>Dispatcher:</strong>
    <%= dispatcher.dispatcher_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dispatcher.name %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= dispatcher.contact_info %>
  </p>

  <p>
    <strong>Assigned loads:</strong>
    <%= dispatcher.assigned_loads %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= dispatcher.schedule %>
  </p>

</div>
