<div id="<%= dom_id load %>">
  <p>
    <strong>Load:</strong>
    <%= load.load_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= load.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= load.size %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= load.destination %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= load.status %>
  </p>

</div>
