<div id="<%= dom_id driver %>">
  <p>
    <strong>Driver:</strong>
    <%= driver.driver_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>License details:</strong>
    <%= driver.license_details %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= driver.experience %>
  </p>

  <p>
    <strong>Availability status:</strong>
    <%= driver.availability_status %>
  </p>

</div>
