<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vehicle:</strong>
    <%= vehicle.vehicle_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= vehicle.type %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= vehicle.capacity %>
  </p>

  <p>
    <strong>Maintenance status:</strong>
    <%= vehicle.maintenance_status %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= vehicle.location %>
  </p>

</div>
